@import '../../Breakpoints.scss';
.FiltersContainer{
    width: 100%;
    .filterCategories{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: .5rem;
        h1{
            margin-top: 6rem; 
            font-size: 22px;
            font-weight: 700;
            text-align: start;
            @include sm{
                margin-top: 0;
            }
            @include md{
         
      
            }
            @include lg{
                
            }
            @include xl{
      
            }
            @include breakpoint(1200px){
            
            }
        }
        
    
    
        .search{
            width: 90%;
            border: 1px solid var(--BorderColor);
            border-radius: 10px;
            padding: 5px 5px ;
    
                input[type="text"]:focus {
                    outline: none;
                  }
                  
           
        }
        select{
            width: 90%;
            border: 1px solid var(--BorderColor);
            padding: 10px;
            font-size: 14px;
            border-radius: 10px;
            padding: 5px 5px;
        }
    }
    .Pricing{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        label{
            text-align: start;
            font-size: 15px;
            font-weight: 700;
        }
        input{
            width: 90%;
            border: 1px solid var(--BorderColor);
                border-radius: 10px;
                padding: 5px 5px ;
        }
        input[type="text"]:focus {
            outline: none;
          }


    }
    
}