@import '../../Breakpoints.scss';
.Footer{
    width: 100%;
    min-height: 30vh;
    background-color: var(--SecondaryColor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primaryColor);

    

    .FooterContainer{
        width: 90%;
        min-height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly; 

        @include sm{
           flex-direction: column;
           margin-top: 2rem;
          }
          @include md{
            
    
          }
          @include lg{
              
          }
          @include xl{
    
          }
          @include breakpoint(1200px){
          
          }

        .logo{
            width: 30%;
            min-height: 15vh ;


            @include sm{
                width: 100%;
                min-height: 10vh;
               }
               @include md{
                 
         
               }
               @include lg{
                   
               }
               @include xl{
         
               }
               @include breakpoint(1200px){
               
               }

            .social-media{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 100%;
                gap: 2em;
                
                .sIcon{
                    font-size: 26px;
                    cursor: pointer;

                    @include sm{
                        font-size: 26px;
                       }
                       @include md{
                         
                 
                       }
                       @include lg{
                           
                       }
                       @include xl{
                 
                       }
                       @include breakpoint(1200px){
                       
                       }
                    &:hover{
                        color: var(--BrandColor);
                    }
                }
            }
        }
        .Sub-menu{
            width: 30%;
            min-height: 15vh;

            @include sm{
               width: 100%;
               }
               @include md{
                 
         
               }
               @include lg{
                   
               }
               @include xl{
         
               }
               @include breakpoint(1200px){
               
               }

            ul{
                list-style: none;
                li{
                    font-size: 12px;
                    cursor: pointer;
                    &:hover{
                        color: var(--BrandColor);
                    }
                }
            }

        }
        .ContactInfo{
            width: 30%;
            min-height: 15vh;
            font-size: 14px;

            @include sm{
                width: 100%;
               }
               @include md{
                 
         
               }
               @include lg{
                   
               }
               @include xl{
         
               }
               @include breakpoint(1200px){
               
               }
        }
        .EmailList{
            width: 100%;
            label{
                font-size: 16px;
            }
            input{
                width: 95%;
                border: 1px solid var(--BorderColor);
                border-radius: 10px;
                padding: 5px 5px ;

                @include sm{
                    width: 100%;
                   }
                   @include md{
                     
             
                   }
                   @include lg{
                       
                   }
                   @include xl{
             
                   }
                   @include breakpoint(1200px){
                   
                   }

            }
            input[type="text"]:focus {
                outline: none;
              }
              button{
                width: 50%;
                padding: 10px;
                margin-top: 10px;
                background-color: var(--BrandColor);
                border-radius: 10px;
                border: 1px solid var(--BrandColor);
                color: var(--primaryColor);
                font-size: 14px;
                font-weight: 700;
              }

        }
        
    }
   
}
.subFooter{
    width: 100%;
    height: 5vh;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}